<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SimpleScenario -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="SimpleScenario.presentation.SimpleScenarioModelWizardID"
            name="%_UI_SimpleScenarioModelWizard_label"
            class="SimpleScenario.presentation.SimpleScenarioModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimpleScenarioModelFile.gif">
         <description>%_UI_SimpleScenarioModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SimpleScenario -->
      <editor
            id="SimpleScenario.presentation.SimpleScenarioEditorID"
            name="%_UI_SimpleScenarioEditor_label"
            icon="icons/full/obj16/SimpleScenarioModelFile.gif"
            extensions="simplescenario"
            class="SimpleScenario.presentation.SimpleScenarioEditor"
            contributorClass="SimpleScenario.presentation.SimpleScenarioActionBarContributor">
      </editor>
   </extension>

</plugin>
